.dialogs {
  display: flex;
  &-items {
    border-right: 2px solid grey;
    width: 20%;
    padding: 10px;
    .item {
      padding: 5px;
      a {
        color: white;
      }
    };
  }
  .messages {
    padding: 10px;
    .message {
      padding: 5px;
      color: white;
    }
  }
}
